<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <!-- <label>Email</label>
        <input type="text" placeholder="email" name="email">
        <label>Password</label>
        <input type="password" placeholder="password" name="password"> -->
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email(placeholder="email", size=30) }}
            {{ form.password.label }} {{ form.password(placeholder="password", size=30) }}
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>

</body>
</html>